<!-- Toolbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand font-weight-bold" style="color: #f7931a" routerLink="/products">CryptoMarkt</a>
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>

  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/products" (click)="isMenuCollapsed = true">Market</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a *ngIf="!apiService.getUser()" class="nav-link text-white" routerLink="/login" (click)="isMenuCollapsed = true">Login</a>
        <a *ngIf="apiService.getUser()" class="nav-link text-white" (click)="apiService.logout()">{{ apiService.getUser().email }}(logout)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/cart" (click)="isMenuCollapsed = true">Cart({{ cartService.items.length || 'Empty' }})</a>
      </li>
    </ul>
  </div>
</nav>
